body {
  font-size: 16px;
  line-height: 1.35rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #ecf0f1 url("../images/denim.jpg") repeat fixed;
}
* {
  box-sizing: border-box;
}
a {
  color: #2c3e50;
}
b {
  font-weight: 600;
}
#container {
  position: relative;
  width: 1024px;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
#container > header {
  position: relative; /* so we can position email address absolutely */
  height: 4rem;
  color: #ffd700;
  background: #008 url("../images/dave.jpg") no-repeat scroll 0% 0% / auto 4rem;
}
#container > header h1, 
#container > header h2 {
  padding-left: 5.75rem;
}
#container > header a[href^="mailto:"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #eff;
  margin: 0.25rem 0.5rem 0 0;
  text-decoration: none;
}
#container > header a[href^="mailto:"]:hover {
  text-decoration: underline;
}
.social {
    float: right;
    width: 160px;
}
#container > header h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
#container > header h2 {
  font-size: 1.5rem;
  font-variant: small-caps;
  padding-top: 0.5rem;
}
section[role="main"] {
  display: inline-block;
  height: 100%;
  margin: 0.5rem;
}
section[role="main"] p {
  padding-bottom: 1rem;
}
section[role="main"] p:last-child {
  padding-bottom: 0;
}
article {
  clear: both;
  float: left;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  background-color: aliceblue; /* #eefffb; */
}
article:nth-of-type(1) {
  margin-top: 1rem;
}
article:last-child {
  margin-bottom: 1rem;
}
article header {
  height: 2rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #eff;
  background-color: #446CB3; /* San Marino */
  padding: 0.25rem 0.5rem;
}
article header a {
  color: inherit;
  text-decoration: none;
}
article .image {
  width: 40%;
  padding: 1rem;
}
article .description {
  width: 60%;
  padding: 1rem;
}
article:nth-child(odd) .image,
article:nth-child(even) .description {
  float: left;
}
article:nth-child(even) .image,
article:nth-child(odd) .description {
  float: right;
}
article .image img {
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: 61px 13px;
}
#traffic {
  background-image: url("../images/511.png");
  background-size: 80% auto;
}
#peoplepc {
  background-image: url("../images/peoplepc.png");
  background-size: 66% auto;
}
#anam {
  background-image: url("../images/anam.png");
  background-size: 66% auto;
}
#fsfpl {
  background-image: url("../images/fsfpl.png");
  background-size: 66% auto;
}
#vcsf {
  background-image: url("../images/vcsf.png");
  background-size: 66% auto;
}
#lifenav {
  background-image: url("../images/lifenav.png");
  background-size: 66% auto;
}
/*
#container > footer {
  height: 2rem;
	line-height: 1.5rem;
	padding-right: 0.5em;
	text-align: right;
	vertical-align: middle;
}
#container > footer a {
  text-decoration: none;
}
#container > footer a:hover {
  text-decoration: underline;
}
*/
